@font-face {
  font-family: OptimusPrinceps;
  src: url('/font/OptimusPrinceps.ttf');
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Spectral', Georgia, Baskerville, serif;
  font-size: 19px;
  margin: 0px;
  padding: 0px;
}

main {
  flex: 1 0 auto;
}

h1, h2, h3, h4 {
  font-family: 'Bellefair', Georgia, Baskerville, serif;
  font-weight: 600;
  line-height: 1.4em;
  color: #546e7a;
}

h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  line-height: 1.4em;
  color: #546e7a;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

a:hover {
  text-decoration: underline;
}

form a {
  margin-left: 5px;
}

#nav-desktop, #nav-mobile a {
  font-family: 'Roboto', sans-serif;
}

#nav-desktop, #nav-mobile a:hover {
  text-decoration: none;
}

#nav-mobile {
  padding: 10px;
  width: auto;
}

#nav-mobile h4{
  padding-left: 16px;
}

.header {
  border-bottom: 2px dashed white;
  width: 100%;
}

.brand-logo {
  font-family: 'OptimusPrinceps', "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  letter-spacing: .05em;
  font-size: 2rem;
  margin-left: 10px;
}

.header-left {
  border-right: 2px dashed white;
}

.job-title {
  margin-left: 20px;
}

#footer {
  width: 100%;
  /* position: absolute;
  bottom:0; */
  border-top: 2px dashed white;
  text-align: center;
}

.copyright {
  color: #9ba0a6;
  padding-bottom: 15px;
  font-size: 14px;
}

.social {
  padding-top: 15px;
}

.social a {
  padding: 6px;
}

.social a:link, .social a:visited {
  color: #9ba0a6;
}

.social i.fa-github:hover {
  color: red;
}

.social i.fa-bitbucket:hover {
  color: orange;
}

.social i.fa-linkedin:hover {
  color: gold;
}

.social i.fa-facebook:hover {
  color: limegreen;
}

.social i.fa-twitter:hover {
  color: blue;
}

.social i.fa-instagram:hover {
  color: indigo;
}

.social i.fa-envelope:hover {
  color: blueviolet;
}

.image-block {
  display: block;
}

.image-fill {
  width: 100%;
  opacity: 0.5;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.strong {
  font-weight: 600;
}

.skills-section {
  padding-left: 10px;
}

.skills-section h1 {
  color: white;
}

.skills-image {
  height: 100%;
  background-image: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, .9)),
      url(/image/rainbow-keyboard-min.jpg);
  background-size: cover;
  background-position: center;
  position: absolute;
  right: 0;
  top: 0;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.card-content {
  color: #546e7a;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

.card-reveal {
  color: #546e7a;
  font-family: 'Roboto', sans-serif;
}

.rainbowHorizontal {
  background: #ff4747; /* Old browsers */
  background: -moz-linear-gradient(left, #ff4747 0%, #ffe349 16%, #49ff7a 41%, #49b9ff 59%, #49b9ff 59%, #494fff 73%, #f549ff 87%, #ff474a 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ff4747), color-stop(16%,#ffe349), color-stop(41%,#49ff7a), color-stop(59%,#49b9ff), color-stop(59%,#49b9ff), color-stop(73%,#494fff), color-stop(87%,#f549ff), color-stop(100%,#ff474a)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #ff4747 0%,#ffe349 16%,#49ff7a 41%,#49b9ff 59%,#49b9ff 59%,#494fff 73%,#f549ff 87%,#ff474a 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #ff4747 0%,#ffe349 16%,#49ff7a 41%,#49b9ff 59%,#49b9ff 59%,#494fff 73%,#f549ff 87%,#ff474a 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #ff4747 0%,#ffe349 16%,#49ff7a 41%,#49b9ff 59%,#49b9ff 59%,#494fff 73%,#f549ff 87%,#ff474a 100%); /* IE10+ */
  background: linear-gradient(to right, #ff4747 0%,#ffe349 16%,#49ff7a 41%,#49b9ff 59%,#49b9ff 59%,#494fff 73%,#f549ff 87%,#ff474a 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4747', endColorstr='#ff474a',GradientType=1 ); /* IE6-9 */
      padding: 0px;
      position:relative;
      height:3px;
      z-index: 1;
      box-shadow: inset 0px 0px 5px 3px white;
      border-top: 2px dashed white;
      opacity: .5;
}

.rainbowBg {
  height:2px;
  width: 100%;
  margin: 4px;
  background: blue;
  position:absolute;
  top: 1px;
  left: 1px;
  box-shadow: 0px 0px 7px 2px white, 0px 0px 13px 2px white;
  border: 5px dashed white;
  z-index: 2;
}
